/*-----------------Start of  styling for the elements inside the Card Div that is created in JS --------------------*/

/*-------Start of styling for the Card Div itself, as well as to make the card grabbable -----------*/

#card-row {
	display: -webkit-flex; /* Safari */
    -webkit-justify-content: space-around; /* Safari 6.1+ */
    display: flex;
    justify-content: space-around;
}

.card-div{
	position: relative;
	opacity: .83;
	color: white;
	font-family: 'Ubuntu', sans-serif;
	width: 100%;
	height: 100%;
	border: 3px solid black;
	border-radius: 3px;
	background-color: black;
	margin-bottom: 10px;
}

.card-div.over {
	border: 4px dashed #000;
}

.grabbable{
	cursor: move;
	cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}

.grabbable:active{
	cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}

/*-------------------------------end of styling for Card Div itself -------------------------------*/


.city {
	margin-top: 4px;
	font-size: 18px;
	text-align: left;
	border-left: 1px solid #333333;
	margin-left: 15px;
}

.month {
	margin-top: 4px;
	font-size: 18px;
	text-align: left;
	border-left: 1px solid #333333;
}

.temperature, .big-mac-price, 
.big-mac-index, .rainfall{
	font-size: 17px;
}

 .exchange-rate {
	font-size: 14px;
}

#icon0, #icon1, #icon2, #icon3 {
	width: 70%;
	height: auto;
	margin: 10px 5px;
}

#exchange-rate-box {
	margin-left: 15px;
}

.icon-box {
	background-color: #778899;
	position: relative;
	height: auto;
	text-align: center;
	margin: 6px;
	border-radius: 3px;
}

.icon-box:first-child {
	margin-left: 15px;
}

/*travel info button*/
.travel-button {
    background-color: #236B8E;
    border-radius: 3px;
	height: auto;
	font-family: 'Ubuntu', sans-serif;
	text-align: center;	
	color: 000000;
	border: 0px #DCDCDC solid;
	color: white;
	margin: 6px;
	line-height: 20px;
	text-align: 
}

.button-text {
	margin-top: 15px;
}

.travel-button:hover {
    background-color: #343a40;
    color: white;
    text-decoration: none;
}

.travelbutton:visited, .travelbutton:link {
	color: black;
	text-decoration: none;
}


/*---------------Remove Button styling -----------------*/
label {
	font-family: 'Ubuntu', sans-serif;
	font-style: bold;
	font-size: 20px;
	color: white;
	text-align: center;
}

.remove-button {
	width: 25px;
	height: 25px;
	color: #777;
	font: 14px/100% arial, sans-serif;
	position: absolute;
	right: 1px;
	text-decoration: none;
	text-shadow: 0 1px 0 #fff;
	top: 1px;
	content: 'X';
}
/*---------------Remove Button styling -----------------*/


/* ----------------------------------------End of elements inside the Card Div ------------------------------------------*/



